/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

td{
  text-align: center;
}

.mat-card{
  width: 500px;
}

table{
  width: 100%;
}

.mat-card-content{
  display: flex;
  justify-content: center;
}

.card-under{
  margin-top: 20px;
}
