<div class="main">
  <div>
    <app-selection [shopId]="5" (valueChange)="getAmount($event)"></app-selection>
  </div>
  <div *ngIf="amount">
    <mat-card class="card-under">
      <mat-card-title>Montant sélectionné : </mat-card-title>
      <mat-card-content>
        {{amount}}€
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
