<form [formGroup]="calculatorForm" (ngSubmit)="onValid()">
  <mat-card>
    <mat-card-title>Montant désiré :</mat-card-title>
    <mat-card-content>
      <table cellspacing="0">
        <tr>
          <td class="right-td">
            <mat-form-field>
              <input matInput id="amount" name="amount" formControlName="amount" type="number" min="0" max="999999999999999934463" value="{{this.calculatorForm.value.amount}}">
              <mat-error>Montant trop élevé.</mat-error>
            </mat-form-field>
          </td>
          <td class="left-td">
            <button mat-stroked-button type="button" (click)="onNext()">Montant suivant</button>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-stroked-button color="primary" type="submit" [disabled]="calculatorForm.invalid">Valider</button>
          </td>
          <td>
            <button mat-stroked-button type="button" (click)="onPrevious()">Montant précédent</button>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-under" *ngIf="combination && combination.equal">
    <mat-card-title>Votre montant est composé des cartes suivantes :</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let card of combination.equal.cards">{{card}}€</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-under" *ngIf="combination && !combination.equal">
    <mat-card-title>{{amountPossibleText}}</mat-card-title>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngIf="combination.floor">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{combination.floor.value}}€
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h2>Ce montant est composé des cartes suivantes :</h2>
            <ul>
              <li *ngFor="let floorCard of combination.floor.cards">{{floorCard}}€</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="combination.ceil">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{combination.ceil.value}}€
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h2>Ce montant est composé des cartes suivantes :</h2>
            <ul>
              <li *ngFor="let ceilCard of combination.ceil.cards">{{ceilCard}}€</li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</form>
